Cliente_MVC/Connected Services/ServicioMaestria/AlumnosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlumnosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52885/AlumnosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52885/AlumnosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52885/AlumnosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioMaestria.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlumnosService_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IAlumnosService_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IAlumnosService_Agregar_InputMessage">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="IAlumnosService_Agregar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="IAlumnosService_BuscarxNC_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarxNC" />
  </wsdl:message>
  <wsdl:message name="IAlumnosService_BuscarxNC_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarxNCResponse" />
  </wsdl:message>
  <wsdl:message name="IAlumnosService_Consultar_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar" />
  </wsdl:message>
  <wsdl:message name="IAlumnosService_Consultar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarResponse" />
  </wsdl:message>
  <wsdl:message name="IAlumnosService_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IAlumnosService_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlumnosService">
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumnosService/Actualizar" message="tns:IAlumnosService_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumnosService/ActualizarResponse" message="tns:IAlumnosService_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumnosService/Agregar" message="tns:IAlumnosService_Agregar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumnosService/AgregarResponse" message="tns:IAlumnosService_Agregar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarxNC">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumnosService/BuscarxNC" message="tns:IAlumnosService_BuscarxNC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumnosService/BuscarxNCResponse" message="tns:IAlumnosService_BuscarxNC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumnosService/Consultar" message="tns:IAlumnosService_Consultar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumnosService/ConsultarResponse" message="tns:IAlumnosService_Consultar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumnosService/Eliminar" message="tns:IAlumnosService_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumnosService/EliminarResponse" message="tns:IAlumnosService_Eliminar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlumnosService" type="tns:IAlumnosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IAlumnosService/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/IAlumnosService/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarxNC">
      <soap:operation soapAction="http://tempuri.org/IAlumnosService/BuscarxNC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <soap:operation soapAction="http://tempuri.org/IAlumnosService/Consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IAlumnosService/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlumnosService">
    <wsdl:port name="BasicHttpBinding_IAlumnosService" binding="tns:BasicHttpBinding_IAlumnosService">
      <soap:address location="http://localhost:52885/AlumnosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>